/*
 * Custom CSS
**/

body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif !important;
}
.dropzone {
    width: 700px;
    min-height: 250px;
    margin: 10px auto;
}
#buttonDropzone {
    position: relative;
}
#buttonDropzone .dropzone {
    opacity: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.dropFileLabel {
    text-align: center;
    margin-bottom: 0px;
    color: #CDDC39;
}