<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Example of file upload with Express - Node.js on Azure</h1>
                <p>Hello, Nelson Desai</p>
            </div>    
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>